.chat-main
  .chat-main__groupInfo
    .chat-main__groupInfo--infoBlock
      .groupName
        test
      .memberName
        Member : oreo
    .chat-main__groupInfo--editBtn
      .btnString
        Edit
  .chat-main__messageList
    .messageBox
      .userAndDate
        .postUser
          oreo
        .postDate
          2019/01/01 17:41:56
      .postMessage
        I wanna eat oreo !!
      .postImage
    .messageBox
      .userAndDate
        .postUser
          oreo
        .postDate
          2019/01/01 17:41:56
      .postMessage
        I wanna eat oreo !!
      .postImage
  .chat-main__messageForm
    .new-message
      .input-box
        .messageInput
        .messageImage
          .input-file
      .preview
      .sendBtn
        .sendString
          Send
