.side-bar
  .side-bar__userName
    .top-items
      .top-items__image
        イメージ画像
      .top-items__users
        .top-items__users--name
          ユーザーの名前
        .top-items__users--group
          ユーザーのグループ名
        .top-items__users--edit
          ユーザーの編集
  .side-bar__groupList
    .groupList
      .groupList__name
        ruby復習組
      .groupList__latestMessage
        ちゃんと復習せんといかん。忘れとる
