.side-bar {
  background-color: #253141;
  width: 300px;
  height: 100vh;
  &__userName {
    height: 100px;
    background-color: #253141;
    display: flex;
    text-align: center;
  }
  &__groupList {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
  }
}

.top-items {
  margin: 10px;
  background-color: wheat;
  display: flex;
  &__image {
    width: 80px;
    height: auto;
    background-color: white;
  }
  &__users {
    width: 200px;
    height: auto;
    &--name {
      font-size: 1em;
      color: white;
    }
    &--group {
      color: white;
      font-weight: bold;
    }
    &--edit {
      font-weight: bold;
    }
  }
}
